.drpmn:hover .drpmnd{
   display: block; 
    color: aqua;
}
.contact{
    background: linear-gradient(to right,rgb(5, 96, 182),rgb(4, 137, 245));
    color: white;
    border: none;
    padding: 0 20px;
}
.banner{
    background-attachment: fixed;
    background-color: darkblue;
    text-align: center;
    height: 620px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner h1{
    padding:150px 0 40px 0;
    font-weight: 1000;
}
.banner h4{
    font-weight: 200;
}
.banner button a{
    text-decoration: none;
    color: white;
}
.banner button{
    margin: 60px;
    border-radius: 25px;
    padding: 10px 25px;
    background: linear-gradient(to right,rgb(5, 96, 182),rgb(4, 137, 245));
    align-items: center;

}
.banner button:hover{
    background: linear-gradient(to left,rgb(5, 96, 182),rgb(4, 137, 245)); 
}
.banner img{
      padding-left: 20px;
      width: 130px;
      align-items: center;
}
.head1{
    font-family: sans-serif;
    text-align: center;
    font-weight: bolder;
    margin-top: 50px;
}
.p1{
    justify-content: left;
    margin: 50px;
}
.card1{
    width: 400px; 
    height: 600px;
}
.card1 h4{
    padding-bottom: 20px;
}
.card1 p{
    padding-bottom: 20px;
}